body {
    background-image: url("body_bg.jpg");
}

.box {
    width: 80%;
    margin-left: 300px;
    margin-top: 50px;
    border: none;
    border-radius: 20px;
}

.part1 {
    background-color: #f0f0f0;
    padding: 30px;
    width: 40%;
    position: absolute;
}

.logo {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
}

.were {
    font-family: 'Source Code Pro';
    color: indianred;
}

.coming {
    font-family: 'Abril Fatface';
    color: black;
    font-size: 50px;
}

.para {
    font-family: 'Courgette';
}

#part11 {
    width: 70%;
    margin-left: 30px;
}

.email {
    border-radius: 50px;
}

.displayPicture {
    height: 537px;
    width: 260px;
    margin-left: 520px;
}

i {
    border-radius: 50px;
}